
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}









/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    background: #ccc;
    font-family:'Open Sans Condensed', sans-serif;
    background:#000 !important;
    overflow-x:hidden;


}
.hero{
    background-image: url(../img/soda-stereo-1.jpg);
    background-size:100% 100%;
    height: 100vh;

    background-attachment: fixed;

}

nav.redes-sociales{
    text-align: center;
}
nav.redes-sociales a{
    color: #fff!important;
    font-size:1em;
    margin-right: 15px;
}
div.info-adicional{
    text-align: center;
    color:#866100;
}
div.info-adicional p{
    margin: 0;
    display: inline;
    font-size: 20px;
    margin:40px;
}
.eventos-soda{
    font-family: 'Oswald', sans-serif;
    font-size: 11.5vw;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
     opacity: 0.5;
  filter:  alpha(opacity=50);
  color: #866100;
}
p.slogan span{
    font-weight: bold;
    color: red;
}
div.nav-principal{
    float: right;
    text-align: right;
    display: block;
    width: 43%;
    padding-top: 20px;
}

div.nav-principal a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    margin-right: 5px;
    color:#866100;
    text-transform: uppercase;
    padding: 3px;
}
div.barra{
    background-color: #ccc;
    height: 60px;
}
div.nav-principal a:hover{
    background-color: #000;
    transition: all 2s ease;
}
div.nav-principal a:last-child{
    border:2px solid red;
    color:red;

}


.seccion p{
   color:#866100;
   text-align: center;

}
#discografia li, a{
    list-style: none!important;
    text-decoration: none!important;
    color: #000!important;
    text-align: right;
    height: 60px;
    padding-top: 5px;
}
#discografia{
    background:#866100;
    border-bottom-right-radius: 50px;

}

h3{
    padding: 5%;
    text-transform: uppercase;
    color: #ccc;
    font-family: 'Oswald', sans-serif;
    opacity: 0.5;
  filter:  alpha(opacity=50);

}
.historia{
    margin-top: 70px;
   color:#866100;
   background: #000;

}


div.parrafo, h2{

    color: #866100;
}
.cerati-video{
  padding: 10%;
}
 h2{
    color: red;
}

div.contenedor-imagenes{
    padding: 30px;
    margin-left: 20px;
}

.eventos{
    height: 550px;
     border:2px solid #866100;
     background-image: url(../img/grupo2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
    color: #fff;
    opacity: 0.3;
  filter:  alpha(opacity=30);

}


  h1,h3{
    text-transform:uppercase;
    color: red!important;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    opacity: 0.5;
  filter:  alpha(opacity=30);
 }
 .Programa-eventos p{
    color:#fff;
 }
.Programa-eventos a{
    color:#fff;
}
button{
    background-color: #987828;
    border-color: black;

}
button:hover{
    background:#040402 ;
    border-color: #987828;

}
li:hover{
    color: #CCCCCC;
}

.btn{
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;

}
.btn:hover{
    color:#CCCCCC !important;
    border-color:#987828;
}
.Tarjetas img{
    width: 100%;
    height: 250px;


}

.texto{
    margin: 10px;
    padding: 10px;
    border-radius:6px;


}
.texto:hover{
    color: #987828;
}

.pie-de-pagina p{
    padding: 10%;
    text-align: center;
    color: #866100;
}
.ver{
    background-color: red;
    color:#fff;
    text-align: center;
   margin-left: 100px;
    border-radius: 39px;


}
.Programa-eventos{
    position: relative;

}

.detalle-evento{
    position: absolute;
    top: 0;
    left:0;

}
.detalle-evento a{
  color: #fff!important;
}

#bandas{

    bottom: 0;
    width: 100%;
    padding: 20px;

}
#myBtn {
    width: 80px;
    font-size: 18px;
    padding: 5px;
    border-radius:20px;
    background: red;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

@media (max-width: 575.98px) {
  .detalle-evento{
   font-size: 8px;

  }

   .detalle-evento h3{
    font-size: 15px;

   }

}
